<div class = "container" style="margin-top:45px;">
	<%= image_tag"blackboard.jpg", class:"thumb container "%>
</div>
<div class = "main">
<!-- <h1>StaticPages#aboutus</h1>
<p>Find me in app/views/static_pages/aboutus.html.erb</p> -->
<h3>Mission</h3>

<p>EASE is an acronym for Expediting Access to Standard Education. The aim of the program is to improve access to basic education in Africa through sponsorship programs and the establishment of libraries in villages. We believe that education holds the solution to most of the world's problems. Yet, many children are denied the opportunity due to financial constraints. We are convinced that a little effort on our part will go a long way to help.</p>

<p>Although the program has hopes of expanding to other African countries, the initial scope is limited to Ghana and Nigeria. The current focus is to sponsor underprivileged children through Junior Secondary School (JSS), which forms the core of basic education in Ghana and then tentative of the students performance, continue this sponsorship through Senior Secondary School (SSS).</p>

<p>EASE's objectives are:</p>

<ul class = "objectives">
	<br>
	<li> To raise awareness at MIT and surrounding institutions about the effect of domestic financial constraints on the accessibility to basic education in developing African countries</li>
	<br>
	<li> To improve access to basic education by financially sponsoring underprivileged students in Africa to attend their equivalent Junior and Senior High School</li>
	<br>
	<li>To promote cooperation with other international development-focused organizations</li>
	<br>
	<li>To help selected villages/schools establish community libraries/stock existing ones</li>
	<br>
	<li>To extend EASE Operations to other colleges besides MIT</li>
	<br>
	<li>To extend EASE Sponsorship and Operations to other African countries</li>
	<br>
	<li>To act on other matters related to the aims and objectives as stated above</li>
</ul>
</div>
<div class="main">
	<h3>Board Members</h3>
	<%= image_tag"dummy1.png", class:"thumb"%>
	<p>From Left to Right: Name (position), Name (position), Name (position), Name (position), Name (position), Name (position), Name (position), Name (position)</p>
</div>

<div class="main">
	<h3>Partners</h3>
	<br>
	<h4>MIT Public Service Center:</h4>
	<p>“At the heart of the MIT mission statement is a call to serve the nation and the world—and this charge is embodied by the MIT Public Service Center. Every year, we send thousands of students into communities locally, across the nation, and around the globe to apply their skills and knowledge for the betterment of humankind..."</p>
	<%= link_to "MIT PSC Website", "http://web.mit.edu/mitpsc/index.html" %>
	<br>
	<br>

	<h4>Oasis Restaurant:</h4>
	<p>Fine Brazilian Specialties...</p>
	<%= link_to "Oasis Website", "http://www.newoasisrestaurant.com/" %>
</div>