

@font-face {
    font-family: 'fff_tusjbold';
    src: font-url('FFF_Tusj-webfont.eot');
    src: local('fff_tusjbold'), font-url('FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('FFF_Tusj-webfont.woff') format('woff'),
         font-url('FFF_Tusj-webfont.ttf') format('truetype'),
         font-url('FFF_Tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'blokletters_balpenbalpen';
    src: font-url('Blokletters-Balpen-webfont.eot');
    src: local('blokletters_balpenbalpen'), url('Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Blokletters-Balpen-webfont.woff') format('woff'),
         font-url('Blokletters-Balpen-webfont.ttf') format('truetype'),
         font-url('Blokletters-Balpen-webfont.svg#blokletters_balpenbalpen') format('svg');
    font-weight: normal;
    font-style: normal;

}

